.directory-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-list-main {
  padding: 2em;
}

.page-list {
  max-width: 40em;
  margin-inline: auto;
}

.page-list-year {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-block: 1em;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
      &::before {
        content: "\2766";
        display: inline-block;
        line-height: 1em;
        margin-right: 0.5em;
        transform: rotate(90deg);
      }
      &::after {
        content: "\2766";
        display: inline-block;
        line-height: 1em;
        margin-left: 0.5em;
        transform: rotate(270deg);
      }
    }
  }
}

.page-item {
  display: block;
  padding: 0.5em;
  background-color: white;
  border-radius: 4px;
  box-shadow: var(--shadow-s);
  transition: box-shadow ease-in-out 0.25s;
  text-decoration: unset;

  &:hover {
    box-shadow: var(--shadow-m);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    color: black;

    time {
      color: var(--c-text-muted);
    }
  }
  &__desc {
    margin-top: 0.5em;
    color: black;
    text-align: justify;
    text-justify: auto;
  }
}
