.flox-playground {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: max(24rem, 0.5vh);
	gap: 1em;
	margin-block: 0.5em;
	padding: 1em;

	.editor,
	#output {
		height: calc(100% - 4em);
		overflow-y: auto;
		border: 1px dashed black;
		border-radius: 0.5em;
		background-color: white;
	}

	.editor {
		position: relative;

		#run {
			position: absolute;
			right: 0.5em;
			bottom: 0.5em;
			padding: 0.25em 0.5em;
		}
	}

	#output {
		padding: 1em;
	}
}

.flox-eval {
	border-radius: 0.5em;
	border: 1px solid black;
	overflow: auto;

	> .output {
		padding: 0.25em 0.5em;
		border-top: 1px solid black;
	}
}
